$brand-primary: red;
$white: #fff;
$grey-light: #ededed;
%remain-steps {
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }
  &:after {
    background-color: $grey-light;
    
  }
}

.container-fluid {
  width: 500px;
  border: 2px solid red;
  border-radius:15px;
  box-shadow: rgba(240, 46, 170, 0.3) 2px 2px, rgba(240, 46, 170, 0.2) 4px 4px;
}
.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
  > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $brand-primary;

    &:before {
      content: "\f00c";
      content: "\2713;";
      content: "\10003";
      content: "\10004";
      content: "\2713";
      display: block;
      margin: 0 auto 4px;
      color:green; /*Couleur des ticks avant is active*/
      background-color: $white;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;

      border: {
        width: 2px;
        style: solid;
        color: $brand-primary;
        radius: 50%;
      }
    }
    &:after {
      content: "";
      height: 2px;
      width: 100%;
      
      background-color: $brand-primary;
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    &.is-active {
      
      @extend %remain-steps;
      &:before {
        background-color: blue;
        color:white;
        font-size:180%;
        animation: blinker 2s linear infinite;
        border-color: $brand-primary;
  padding-bottom:36px;
        /*Taille du rond bleu*/
        width:40px;
        height:30px;
      }
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
      ~ li {
        color: #808080;

        @extend %remain-steps;
        &:before {
          background-color: $grey-light;
          border-color: $grey-light;
          color:black;
        }
      }
    }
  }
}

.container-fluid .titre {
  width: 100%;
  background-color: lightyellow;
  text-align: center;
  margin: 1%;
 
  margin-bottom: 3%;
  font-weight: bolder;
  border: 1px solid red;
}

.container-fluid .explications{
  width:90%;
  margin:auto;
  font-style:italic;
}
